In [1]:
import pandas as pd

In [2]:
!pip install -e .

Obtaining file:///Users/enayetraheem/PycharmProjects/cempy
Requirement already satisfied: Click>=7.0 in /Users/enayetraheem/opt/miniconda3/lib/python3.9/site-packages (from cempy==0.0.1) (8.1.3)
Installing collected packages: cempy
  Attempting uninstall: cempy
    Found existing installation: cempy 0.0.1
    Uninstalling cempy-0.0.1:
      Successfully uninstalled cempy-0.0.1
  Running setup.py develop for cempy
Successfully installed cempy-0.0.1

In [3]:
# from cempy import CEM
from cempy import cem

In [4]:
# Load data
ll = pd.read_csv('lelonde.csv')

In [5]:
ll.head()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1
0,1,20,12,0,1,0,8644.156250,8644.156250,11656.505859,0,0,0,strongly agree
1,0,39,12,1,1,0,19785.320312,6608.137207,499.257202,0,0,0,neutral
2,1,49,8,0,1,1,9714.596680,7285.947754,16717.121094,0,0,0,no opinion
3,0,26,8,0,1,1,37211.757812,36941.265625,30247.500000,0,0,0,no opinion
4,0,38,10,1,1,1,14759.063477,14701.947266,4393.522949,0,0,0,strongly disagree

In [6]:
ll.describe()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75
count,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000
mean,0.396923,24.466154,10.252308,0.796923,0.156923,0.781538,3660.773741,3049.787477,5401.889812,0.110769,0.453846,0.400000
std,0.489637,6.726641,1.657323,0.402599,0.364008,0.413520,6295.978327,5079.687551,6300.367904,0.314088,0.498249,0.490275
min,0.000000,17.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,19.000000,9.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,23.000000,10.000000,1.000000,0.000000,1.000000,774.094208,955.112488,3853.070312,0.000000,0.000000,0.000000
75%,1.000000,27.000000,11.000000,1.000000,0.000000,1.000000,5188.056763,3886.642639,8632.951416,0.000000,1.000000,1.000000
max,1.000000,55.000000,15.000000,1.000000,1.000000,1.000000,39570.679688,37431.660156,60307.929688,1.000000,1.000000,1.000000

In [7]:
f = cem.CEM(data=ll, trt = 'treated', 
            matching_on=['age', 'education', 'black', 'married', 'nodegree', 're74','re75', 'hispanic', 'u74', 'u75', 'q1'], 
            metric=['re78'], 
            exclude = [])

/Users/enayetraheem/PycharmProjects/cempy/cempy/cem.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/Users/enayetraheem/PycharmProjects/cempy/cempy/cem.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.msw[self.trt] = 0
/Users/enayetraheem/PycharmProjects/cempy/cempy/cem.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/Users/enayetraheem/PycharmProjects/cempy/cempy/cem.py:209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_matched['bin_marker'] = data_matched['bin_marker'].astype(str)

In [8]:
f.get_unmatched()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1,bin_marker
0,1,20,12,0,1,0,8644.156250,8644.156250,11656.505859,0,0,0,strongly agree,20_12_0_1_0_8644.15625_8644.15625_0_0_0_strong...
1,0,39,12,1,1,0,19785.320312,6608.137207,499.257202,0,0,0,neutral,39_12_1_1_0_19785.3203125_6608.13720703125_0_0...
2,1,49,8,0,1,1,9714.596680,7285.947754,16717.121094,0,0,0,no opinion,49_8_0_1_1_9714.5966796875_7285.94775390625_0_...
3,0,26,8,0,1,1,37211.757812,36941.265625,30247.500000,0,0,0,no opinion,26_8_0_1_1_37211.7578125_36941.265625_0_0_0_no...
4,0,38,10,1,1,1,14759.063477,14701.947266,4393.522949,0,0,0,strongly disagree,38_10_1_1_1_14759.0634765625_14701.947265625_0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,0,19,9,0,0,1,0.000000,0.000000,3811.683105,1,1,1,strongly disagree,19_9_0_0_1_0.0_0.0_1_1_1_strongly disagree
646,1,20,9,0,0,1,8740.939453,8015.441895,5487.969727,1,0,0,strongly disagree,20_9_0_0_1_8740.939453125_8015.44189453125_1_0...
647,0,22,8,0,0,1,0.000000,0.000000,9920.945312,1,1,1,strongly disagree,22_8_0_0_1_0.0_0.0_1_1_1_strongly disagree
648,1,19,8,0,0,1,2483.851807,1862.888794,8774.623047,1,0,0,neutral,19_8_0_0_1_2483.851806640625_1862.888793945312...
649,0,24,4,0,0,1,0.000000,0.000000,3880.833008,1,1,1,strongly agree,24_4_0_0_1_0.0_0.0_1_1_1_strongly agree

In [9]:
f.get_matched()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1,bin_marker
138,1,29,11,1,1,1,0.0,0.0,9642.999023,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral
145,0,29,11,1,1,1,0.0,0.0,10225.879883,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral
178,0,30,12,1,0,0,0.0,0.0,13613.349609,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion
287,1,30,12,1,0,0,0.0,0.0,24909.449219,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion
324,1,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree
326,0,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree
410,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
486,0,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
487,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
488,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
501,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
502,0,17,10,1,0,1,0.0,0.0,2189.426025,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
553,0,17,9,1,0,1,0.0,0.0,3590.701904,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion
556,1,17,9,1,0,1,0.0,0.0,1953.267944,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion
581,0,18,9,1,0,1,0.0,0.0,10877.349609,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree
604,1,18,9,1,0,1,0.0,0.0,4482.845215,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree

In [10]:
f.metric_summary()

,Treatment,Treatment group - Matched (n),Treatment group - Match rate,Control,Control group - Matched (n),Control group - Match rate,Metric,Metric (Treatment),Metric (Treatment) LCF,Metric (Treatment) UCF,Metric (Control),Metric (Control) LCF,Metric (Control) UCF,Metric Impact,Metric Impact (LCF),Metric Impact (UCF),Metric Impact (%),Metric Impact (%) LCF,Metric Impact (%) UCF,p-value
1,treated,9,0.034884,Control,7,0.017857,re78,4554.2846,-556.332423,9664.901624,4742.903673,1012.337346,8473.47,-188.619073,-9029.802423,8652.564278,-0.039769,-1.549552,8.547116,0.959345

In [11]:
f.match_rate_out()

(0.024615384615384615, 0.03488372093023256, 0.017857142857142856)

In [12]:
f.get_weights()

/Users/enayetraheem/PycharmProjects/cempy/cempy/cem.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \

,bin_marker,trt_count,ctl_count,is_matched,wt
2,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree,2.0,1.0,1,1.555556
14,17_9_1_0_1_0.0_0.0_0_1_1_no opinion,1.0,1.0,1,0.777778
40,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree,1.0,1.0,1,0.777778
138,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree,2.0,1.0,1,1.555556
155,25_12_1_0_0_0.0_0.0_0_1_1_disagree,1.0,1.0,1,0.777778
210,29_11_1_1_1_0.0_0.0_0_1_1_neutral,1.0,1.0,1,0.777778
219,30_12_1_0_0_0.0_0.0_0_1_1_no opinion,1.0,1.0,1,0.777778

In [13]:
f.get_weighted_data()

/Users/enayetraheem/PycharmProjects/cempy/cempy/cem.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/Users/enayetraheem/PycharmProjects/cempy/cempy/cem.py:209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_matched['bin_marker'] = data_matched['bin_marker'].astype(str)

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1,bin_marker,wt
0,1,29,11,1,1,1,0.0,0.0,9642.999023,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral,1.000000
1,0,29,11,1,1,1,0.0,0.0,10225.879883,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral,0.777778
2,0,30,12,1,0,0,0.0,0.0,13613.349609,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion,0.777778
3,1,30,12,1,0,0,0.0,0.0,24909.449219,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion,1.000000
4,1,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree,1.000000
5,0,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree,0.777778
6,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree,1.000000
7,0,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree,1.555556
8,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree,1.000000
9,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree,1.000000
10,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree,1.000000
11,0,17,10,1,0,1,0.0,0.0,2189.426025,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree,1.555556
12,0,17,9,1,0,1,0.0,0.0,3590.701904,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion,0.777778
13,1,17,9,1,0,1,0.0,0.0,1953.267944,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion,1.000000
14,0,18,9,1,0,1,0.0,0.0,10877.349609,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree,0.777778
15,1,18,9,1,0,1,0.0,0.0,4482.845215,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree,1.000000

In [14]:
f.metric_summary()

,Treatment,Treatment group - Matched (n),Treatment group - Match rate,Control,Control group - Matched (n),Control group - Match rate,Metric,Metric (Treatment),Metric (Treatment) LCF,Metric (Treatment) UCF,Metric (Control),Metric (Control) LCF,Metric (Control) UCF,Metric Impact,Metric Impact (LCF),Metric Impact (UCF),Metric Impact (%),Metric Impact (%) LCF,Metric Impact (%) UCF,p-value
1,treated,9,0.034884,Control,7,0.017857,re78,4554.2846,-556.332423,9664.901624,4742.903673,1012.337346,8473.47,-188.619073,-9029.802423,8652.564278,-0.039769,-1.549552,8.547116,0.959345